

<div class="container mt-3">
    <div class="contener">
        <div class="header aling-left">
            Lorem, ipsum dolor
        </div>
    </div>
    
    <div class="container mt-3">
        <div class="row col-12 mt-3">        
                    
            <div class="col-7">
                <img class="img-fluid mt-2 mb-2" src="\assets\ghostb.jpg">                        
            </div>     

            <div class="col-5">
                Lorem, ipsum                        
            </div> 
                    
        </div>
        <div>
            Lorem, ipsum
        </div>
        
    </div>
    <div class="content text-center col-12 mt-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Dicta itaque amet atque nulla hic quasi maxime mollitia. 
        Doloribus deleniti magni non id, sit distinctio quibusdam 
        vitae error delectus necessitatibus saepe?
    </div>
</div>
  

